* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: Arial, Helvetica, sans-serif;
	color-scheme: light dark;

	--color--primary: #1a1a1a;
	--color-red: #ff4136;
	--color-yellow: #ffdc00;
	--color-green: #2ecc40;
}

body {
	background-color: #242424;
	margin: 0;
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.trafficLight {
	margin: 0 auto;
	width: 100px;
	height: 280px;
	background-color: var(--color--primary);
	border-radius: 1rem;
	padding: 1rem;
	display: grid;
	gap: 1rem;
}

.item {
	border-radius: 50%;
	display: grid;
	place-items: center;
	opacity: 0.5;
	transition: background-color 0.5s, box-shadow 0.5s, opacity 0.5s;
}

.item:nth-child(1) {
	background-color: var(--color-red);
}

.item:nth-child(2) {
	background-color: var(--color-yellow);
}

.item:nth-child(3) {
	background-color: var(--color-green);
}

.item p {
	opacity: 0;
	font-weight: bold;
	color: #000;
}

.item-red {
	background-color: var(--color-red);
	box-shadow: 0px 0px 2rem var(--color-red);
	opacity: 1;
}

.item-yellow {
	background-color: var(--color-yellow);
	box-shadow: 0px 0px 2rem var(--color-yellow);
	opacity: 1;
}

.item-green {
	background-color: var(--color-green);
	box-shadow: 0px 0px 2rem var(--color-green);
	opacity: 1;
}

.item-red p,
.item-yellow p,
.item-green p {
	opacity: 1;
}

.select {
	margin-top: 1rem;
	width: 150px;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: var(--color--primary);
	outline: none;
	font-weight: bold;
	letter-spacing: 1px;
}
